// nextflow.config

params {
    cpus = 1
    memory = '2 GB'
    time = '2h'
    
    onekg_vcfs = [
        "chr1" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr1.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr2" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr2.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr3" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr3.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr4" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr4.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr5" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr5.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr6" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr6.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr7" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr7.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr8" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr8.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr9" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr9.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr10" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr10.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr11" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr11.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr12" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr12.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr13" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr13.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr14" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr14.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr15" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr15.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr16" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr16.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr17" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr17.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr18" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr18.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr19" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr19.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr20" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr20.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr21" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr21.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chr22" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chr22.filtered.shapeit2-duohmm-phased.vcf.gz",
        "chrX" : "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/1000G_SNV_with_GT/HGSVC2_1KG_3202_VCF_FILES/CCDG_14151_B01_GRM_WGS_2020-08-05_chrX.filtered.eagle2-phased.v2.vcf.gz",
    ]

    ref_fasta = "/g/korbel2/weber/workspace/StrandSeq_workspace/DEV/sarek/work/stage-6efbd245-8179-423c-a0b6-1192951205bc/cb/9a8ab1c6daebb63ccdb5e3c1e88051/Homo_sapiens_assembly38.fasta"
    ref_fai = "/g/korbel2/weber/workspace/StrandSeq_workspace/DEV/sarek/work/stage-6efbd245-8179-423c-a0b6-1192951205bc/11/c0cc2b28431f94d7f93155e14b6b25/Homo_sapiens_assembly38.fasta.fai"
    final_tables_dir = "/g/korbel2/weber/MosaiCatcher_files/DEMULTIPLEXING_POOLS/DEMULTIPLEXING_POOLS/BCFTOOLS_CLEAN_OTF/SAMPLEWISE" // Define this in your config

    // ref_fasta = "/g/impont/ref/hg38.fa"
    // ref_fai = "/g/impont/ref/hg38.fa.fai"

    // Pipeline-specific parameters
    samplesheet = null
    ref = null
    outdir = "./results"
}

// Singularity settings
singularity {
    enabled = false
    autoMounts = true
    runOptions = '--bind /g,/tmp,/scratch'
}

// Conda/Mamba settings
conda {
    enabled = true
    useMamba = true
    cacheDir = "/g/korbel2/weber/workspace/CONDA/cache_dir"
}

workDir = '/scratch/tweber/nextflow/workdir'

// Process executor
process {
    executor = 'slurm'
    clusterOptions = '-A datasci'
    queueSize = 1000

    // Default resource requirements
    cpus = params.cpus
    memory = params.memory
    time = params.time
    
    // Process-specific configurations
    withName: 'BCF_FILTER_AND_NORM' {
        cpus = 1
        memory = '8 GB'
        time = '2h'
        // container = 'quay.io/biocontainers/vt:0.57721--hf7d0c06_0'
    }
    
    withName: ANNOTATE_WITH_VCFANNO {
        cpus = 16
        memory = '16 GB'
        time = '24h'
        // container = 'quay.io/biocontainers/vcfanno:0.3.2--py37_0'
    }
    
    withName: SPLIT_VCF_BY_CHROMOSOME {
        cpus = 1
        memory = '8 GB'
        time = '2h'
        // container = 'quay.io/biocontainers/bcftools:1.10.2--hdf4e2f9_0'
    }

    withName: MERGE_ANNOTATED_VCFS {
        cpus = 16
        memory = '16 GB'
        time = '2h'
        // container = 'quay.io/biocontainers/bcftools:1.10.2--hdf4e2f9_0'
    }

    // Error strategy
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = -1
}

// Executor settings
executor {
    queueSize = 50
    submitRateLimit = '10 sec'
    pollInterval = '30 sec'
}

// Resource manager settings
cluster {
    jobName = { "NF_vcf_${task.name}" }
}

// Profile configurations
profiles {
    slurm {
        process.executor = 'slurm'
    }
    
    debug {
        process.errorStrategy = 'terminate'
        process.maxRetries = 0
    }
    
    test {
        params.cpus = 2
        params.memory = '4 GB'
        params.time = '1h'
    }
}
