// nextflow.config

params {
    cpus = 4
    memory = '4 GB'
    time = '2h'
    
    ref_fasta = "/g/korbel2/weber/workspace/StrandSeq_workspace/DEV/sarek/work/stage-6efbd245-8179-423c-a0b6-1192951205bc/cb/9a8ab1c6daebb63ccdb5e3c1e88051/Homo_sapiens_assembly38.fasta"
    ref_fai = "/g/korbel2/weber/workspace/StrandSeq_workspace/DEV/sarek/work/stage-6efbd245-8179-423c-a0b6-1192951205bc/11/c0cc2b28431f94d7f93155e14b6b25/Homo_sapiens_assembly38.fasta.fai"

    // ref_fasta = "/g/impont/ref/hg38.fa"
    // ref_fai = "/g/impont/ref/hg38.fa.fai"

    // Pipeline-specific parameters
    samplesheet = null
    ref = null
    outdir = "./results"
}

// Singularity settings
singularity {
    enabled = false
    autoMounts = true
    runOptions = '--bind /g,/tmp,/scratch'
}

// Conda/Mamba settings
conda {
    enabled = true
    useMamba = true
    cacheDir = "/g/korbel2/weber/workspace/CONDA/cache_dir"
}

workDir = '/scratch/tweber/nextflow/workdir'

// Process executor
process {
    executor = 'slurm'
    clusterOptions = '-A datasci'

    // Default resource requirements
    cpus = params.cpus
    memory = params.memory
    time = params.time
    
    // Process-specific configurations
    withName: 'BCF_FILTER_AND_NORM' {
        cpus = 4
        memory = '16 GB'
        time = '2h'
        // container = 'quay.io/biocontainers/vt:0.57721--hf7d0c06_0'
    }
    

    // Error strategy
    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = -1
}

// Executor settings
executor {
    queueSize = 50
    submitRateLimit = '10 sec'
    pollInterval = '30 sec'
}

// Resource manager settings
cluster {
    jobName = { "NF_vcf_${task.name}" }
}

// Profile configurations
profiles {
    slurm {
        process.executor = 'slurm'
    }
    
    debug {
        process.errorStrategy = 'terminate'
        process.maxRetries = 0
    }
    
    test {
        params.cpus = 2
        params.memory = '4 GB'
        params.time = '1h'
    }
}
